<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GeneradorDeExamenes.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GeneradorDeExamenes.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="header">
        <span class="logo">Pregunte.ar IA</span>
        <nav class="menu_de_navegacion">
            <a asp-controller="Home" asp-action="Index" class="menu">Home</a>
            <a asp-controller="Home" asp-action="Privacy" class="menu">Historial</a>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3 w-100">
            @RenderBody()
        </main>
    </div>

    <footer>
        <p>2024 - Pregunte.ar IA</p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
