@model ExamenModel

@{
    ViewData["Title"] = "GeneradorPreguntas";
}


<section id="central">
    <h2>Simulador de exámenes gratuito impulsado por IA</h2>
    <p>
        El simulador genera preguntas a partir de un texto, donde podrás
        responder y recibir una corrección en el momento, todo impulsado por
        la potencia de la IA.
    </p>
    <form class="texto w-100 " asp-action="GenerateQuestions" method="post">
        <div class="form-group w-100">
            <label for="texto">Texto detallado</label>
            <textarea class="form-control" id="texto" rows="10"></textarea>
        </div>
        <button type="submit" class="boton1 btn btn-lg btn-success w-50">Generar examen</button>
    </form>
    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger">
            <strong>Error:</strong> @ViewBag.Error
        </div>
    }
</section>
