@model ExamenModel

@{
    ViewData["Title"] = "MostrarPreguntas";
}


<section id="central">
    <h2>Simulador de exámenes gratuito impulsado por IA</h2>

    @if (Model != null && Model.Preguntas.Any())
    {
        <from method="post" asp-action="CorregirRespuestas" class="responder">
                @for (int i = 0; i < Model.Preguntas.Count; i++)
                {
                <div class="form-group w-100">
                    <p>
                        <span class="pregunta">Pregunta [@(i + 1)]:</span> <br>
                        @Model.Preguntas[i].Texto
                    </p>
                    <label for="respuesta_@i">Respuesta:</label>
                    <textarea class="form-control" id="respuesta_@i" name="Preguntas[@i].RespuestaUsuario" value="@Model.Preguntas[i].RespuestaUsuario" rows="3"></textarea>
                </div>
                <hr>
                }

            <input type="hidden" name="Resumen" value="@Model.Resumen" />
            <button type="submit" class="boton1 btn btn-lg btn-success w-50 mt-2">Confirmar respuestas</button>

        </from>
    }
    else
    {
        <p class="text-warning">No se pudieron generar preguntas.</p>
    }

    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger">
            <strong>Error:</strong> @ViewBag.Error
        </div>
    }

</section>