<section id="central">
    <h2>Resultado de examen #8 - Clasificacion 8/10</h2>
    <div class="card-group" id="preguntas">
       
        
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Examen #9 - 01/06/2024</h5>
                <h6 class="card-subtitle mb-2 text-muted">HISTORIA SIGLO XX</h6>
                <hr>
                <a href="" class="boton1 btn btn-lg btn-success w-100">Ver examen</a>
            </div>
        </div>
    

    </div>

</section>